<!DOCTYPE html>
<html>
<head>
    <title>Student Details</title>
</head>
<body>
    <h1>Student Details</h1>
    <ul>
        <li><strong>First Name:</strong> {{ student.first_name }}</li>
        <li><strong>Last Name:</strong> {{ student.last_name }}</li>
        <li><strong>Birthdate:</strong> {{ student.birthdate }}</li>
        <li><strong>Phone:</strong> {{ student.phone }}</li>
        <li><strong>Email:</strong> {{ student.email }}</li>
        <li><strong>Username:</strong> {{ student.username }}</li>
    </ul>
</body>
</html>
